<div class="container text-center mt-5">
<%= simple_form_for :search, url: orders_path, method: :get do |f| %>
  <div class="search-form-control form-group d-flex ml-2">
    <input class="form-control string required" style="max-width: 770px" type="text" name="query" id="search_query" />
    <button name="button" type="submit" class="btn btn-primary ml-3">
      <i class="fas fa-search"></i> Find an item!
    </button>
  </div>
<% end %>
</div>
<div class="d-inline-flex ml-5">
<div class="ml-5">
<% if policy(Item).create? %>
  <%= link_to "It yours!", new_item_path, class: "btn btn-vizi mt-3"%>
<% end %>
</div>
<div class="ml-5">
<% if policy(Item).create? %>
  <%= link_to "It belongs to your neighbor!", new_item_path, class: "btn btn-vizi mt-3"%>
<% end %>
</div>
</div>
<div class="cards mt-5 ml-5">
      <% current_user.orders.each do |order| %>
        <div class="card-item" >
          <div class="card-item-display">
           <% if order.item.photo.attached? %>
            <%= cl_image_tag order.item.photo.key, width: 200, height: 200, crop: :fill %>
           <% else %>
            <img src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
           <% end %>
          </div>
          <div class="card-item-hover">
            <div class="card-item-infos text-center">
              <h2><%= link_to order.item.name, item_path(order.item)%></h2>
              <p><%= order.item.sport %></p>
              <h2>R$ <%= order.item.price %></h2>
               <%= link_to '<i class="far fa-trash-alt ml-2"></i>'.html_safe, item_order_path(order.item.id, order.id), method: :delete, data: { confirm: 'Are you sure?' }%></p>
              <img src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-item-user avatar-bordered" />
            </div>
          </div>
        </div>
      <%end%>
    </div>
