<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag @order.item.photo, width: '100%' %></div>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase of <strong><%= @order.item.name %>
      <p>Transaction type: <%= @order.item.transaction_type %></p>

      <% if @order.item.transaction_type == "Rental" %>
        <p>Rental start date: <%= @order.rent_start_date %></p>
        <p>Rental end date: <%= @order.rent_end_date %></p>
        <p><%= (Date.parse(@order.rent_end_date) - Date.parse(@order.rent_start_date)).to_i %> day(s)</p>
        <p>Total: <%= humanized_money_with_symbol @order.amount.to_i * (Date.parse(@order.rent_end_date) - Date.parse(@order.rent_start_date)).to_i %></p>
      <% end %>

      <% if @order.item.transaction_type == "Sale" %>
        <p>Total: <%= humanized_money_with_symbol @order.amount %></p>
      <% end %>


      <button id="pay" class="btn btn-primary">Pay Now</button>
      <%= link_to "Pay Later", items_path, class: "btn btn-primary" %>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
