<div class="container text-center mt-4">

  <form>
    <div class="input-group mb-3">
        <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Look for any sport item"
        %>
      <%= submit_tag 'Search', class: "btn btn-primary" %>
      <% end %>
    </div>
  </form>

  <div class="d-flex justify-content-center">
<!-- filter by sport, not updating the index -->
    <%= simple_form_for :filter, url: items_path, method: :get, html: { class: "form-inline" }, wrapper: :inline_form do |f| %>
      <%= f.input :sport, collection: @sports, input_html: { class: "select2 w-50 pt-3", multiple: true }, as: :select, include_hidden: false %>
      <%= f.input :location, placeholder: 'Filter by location', input_html: { class: "ml-2"} %>
      <%= f.input :distance, placeholder: 'Distance (in km)' %>
      <%= f.input :start_date, placeholder: 'Available from...', as: :string, required: false, input_html: {class: "datepicker ml-2 bg-white"} %>
      <%= f.input :end_date, placeholder: '... to', as: :string, required: false, input_html: {class: "datepicker bg-white"} %>
      <%= f.submit "Filter", class: "btn btn-outline-primary ml-2" %>
      <%= link_to "Cancel", items_path, class: "btn btn-outline-secondary ml-2" %>

    <% end %>

  </div>


  <div class="container mt-3 d-flex justify-content-between">

    <div class="cards mt-4">
      <% @items.each do |item| %>
        <div class="card-item">
          <div class="card-item-display">
           <% if item.photo.attached? %>
            <%= cl_image_tag item.photo.key, width: 200, height: 200, crop: :fill %>
           <% else %>
            <img src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
           <% end %>
          </div>
          <div class="card-item-hover">
            <h2><%= link_to item.name, item_path(item)%></h2>
            <p><%= item.sport[:name] %></p>
            <h2>R$ <%= item.price %></h2>
            <%= simple_form_for [item, Order.new] do |s|  %>
            <%= s.submit "Add to the cart", class: "btn btn-vizi mt-2" %>
            <% end %>
            <%= simple_form_for [item, Wishlist.new] do |s|  %>
            <%= s.submit "Add to your wishlist", class: "btn btn-vizi mt-2" %>
            <% end %>
            <img src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-item-user avatar-bordered" />
          </div>
        </div>
      <%end%>
    </div>

    <div
    id="map"
    class="map ml-3 mt-4"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

  </div>

  <% if policy(Item).create? %>
    <%= link_to "Add your item!", new_item_path, class: "btn btn-vizi btn-lg mt-3"%>
  <% end %>



</div>

