<div class="container text-center mt-4">
<%= simple_form_for :search, url: items_path, method: :get do |f| %>
  <div class="search-form-control form-group d-flex">
    <input class="form-control string required" style="max-width: 770px" type="text" name="query" id="search_query" />
    <button name="button" type="submit" class="btn btn-primary ml-3">
      <i class="fas fa-search"></i> Find an item!
    </button>
  </div>
<% end %>
<p>Space for dropdown filters: Sports, Location and date</p>

  <div class="container mt-3 d-flex">
    <div class="cards mt-4">
      <% @items.each do |item| %>
        <div class="card-item" >
          <div class="card-item-display">
           <% if item.photo.attached? %>
            <%= cl_image_tag item.photo.key, width: 200, height: 200, crop: :fill %>
           <% else %>
            <img src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
           <% end %>
          </div>
          <div class="card-item-hover">
            <div class="card-item-infos text-center">
              <h2><%= link_to item.name, item_path(item)%></h2>
              <p><%= item.sport %></p>
              <h2>R$ <%= item.price %></h2>
              <button class="btn btn-vizi mt-2">Add to cart!</button>
              <img src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-item-user avatar-bordered" />
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <% if policy(Item).create? %>
    <%= link_to "Add your item!", new_item_path, class: "btn btn-vizi btn-lg mt-3"%>
  <% end %>
</div>
