<div class="container mt-4 text-center">

  <h1 class="text-center"><%= @item.name %></h1>

  <div class="card-show rounded bg-warning">

    <div class="row d-flex justify-content-center align-items-center p-4">

      <div class="col-md-6">
        <% if @item.photo.attached? %>
          <%= cl_image_tag @item.photo.key, width: 200, height: 200, crop: :fill %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1570194065650-821cfb9b44a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
        <% end %>
        <h5 class="text-white">This item was made by:</h5>
        <p class="mb-0"><%= @item.user.email %></p>
      </div>

      <div class="col-md-6">
        <h2>Scent</h2>
        <p><%= @item.scent %></p>

        <h2>Properties</h2>
        <p><%= @item.properties %></p>

        <h2>Weight</h2>
        <p><%= @item.weight %></p>
        <h2 class="bg-light rounded-sm mt-4 p-2">R$ <%= @item.price %></h2>
      </div>

    </div>

  </div>

  <div class="d-flex justify-content-center">
    <%= link_to("Back to item list", items_path, {class: "btn btn-primary mt-3 mr-3"}) %>
    <%= simple_form_for [@item, @order] do |s|  %>
      <%= s.submit "Add to the cart", class: "btn btn-primary mt-3 mr-3" %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-2">

    <% if current_user == @item.user %>

      <p class="mr-4"><%=link_to '<i class="far fa-edit"></i> Edit'.html_safe, edit_item_path(@item.id)%></p>
      <p class="ml-4"><%= link_to '<i class="far fa-trash-alt"></i> Delete'.html_safe, item_path(@item.id), method: :delete, data: { confirm: 'Are you sure?' }%> </p>

    <% end %>
  </div>

</div>
