<div class="container mt-4 text-center w-75">

    <div class="row d-flex justify-content-center align-items-center pl-4 pr-4">

      <div class="col-md-6 mb-3">
        <% if @item.photo.attached? %>
          <%= cl_image_tag @item.photo.key, crop: :fill, class: "avatar-large bg-white" %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1521412644187-c49fa049e84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
        <% end %>
        <div class="d-flex justify-content-center">
          <%= link_to("Back to item list", items_path, {class: "btn btn-outline-primary mt-4 mr-3"}) %>
          <%= simple_form_for [@item, @wishlist] do |s|  %>
            <%= s.submit "Add to wishlist", class: "btn btn-outline-primary mt-4 mr-3" %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">

        <div class="card-show pt-3">
          <h3 class="mb-3"><span class="underline-blue"><%= @item.name %></span></h3>
          <p>Available from <%= @item.start_date %> to <%= @item.end_date %></p>

          <div class="d-flex justify-content-center">
            <div class="m-3">
              <%= render 'sports/card', sport_name: @item.sport.name %>
              <!-- Aqui ja vai o sport do meu item?? -->
            </div>

            <div class="m-2">
              <h5>|</h5>
            </div>

            <div class="m-2">
              <h5>Transaction type</h5>
              <p><%= @item.transaction_type %></p>
            </div>
          </div>

  <div class="d-flex justify-content-center">
    <%= link_to("Back to item list", items_path, {class: "btn btn-primary mt-3 mr-3"}) %>
    <%= simple_form_for [@item, @order] do |s|  %>
      <%= s.submit "Add to the cart", class: "btn btn-primary mt-3 mr-3" %>
    <% end %>
  </div>
          <div class="card-show-infos">
            <% if @item.user.photo.attached? %>
            <%= cl_image_tag @item.user.photo.key, crop: :fill, class:"card-item-user avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
            <%= cl_image_tag 'user.png', crop: :fill, class: "card-item-user avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
            <h2>The owner of this item is: <%= link_to @item.user.name, user_path(@item.user) %></h2>
            <%= link_to "Start chat", users_path, class: "btn btn-vizi" %>
          </div>
        </div>
          <div class="mb-3 pl-3 pr-3">
            <p><%= @item.description %></p>
          </div>

          <% if @item.transaction_type == "Sale" %>
            <h4 class="bg-light rounded-sm mt-2 p-2 mb-3">R$ <%= @item.price %></h4>
          <% end %>

          <% if @item.transaction_type == "Rental" %>
            <h4 class="bg-light rounded-sm mt-2 p-2 mb-3">R$ <%= @item.price %> per day</h4>
          <% end %>

          <% if @item.transaction_type == "Rental" %>
            <div class="pl-5 pr-5">
              <h5>When to when?</h5>
              <%= simple_form_for [@item, @order], wrapper: :inline_form do |s|  %>
                <%= s.input :rent_start_date, input_html: { id: "range_start", class: "bg-white" }, placeholder: "Select dates here" %>
                <%= s.submit "Add to the cart", class: "btn btn-primary m-3" %>
              <% end %>
            </div>
          <% end %>


          <div class="card-show-infos">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-show-user avatar-bordered" />
            <h2>The owner of this item is: <%= link_to @item.user.name, user_path(@item.user) %></h2>
            <%= link_to "Start chat", users_path, class: "btn btn-vizi" %>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-2">

          <% if current_user == @item.user %>

            <p class="mr-4"><%=link_to '<i class="far fa-edit"></i> Edit'.html_safe, edit_item_path(@item.id)%></p>
            <p class="ml-4"><%= link_to '<i class="far fa-trash-alt"></i> Delete'.html_safe, item_path(@item.id), method: :delete, data: { confirm: 'Are you sure?' }%> </p>

          <% end %>
        </div>
      </div>
  </div>


</div>
