<style>
  #content-wrap{
    padding-bottom: 4em;
  }
</style>
<% content_for :title do %>
  <%= @item.name %> - VIZI
<% end %>
<div class="container mt-4 text-center w-75">
  <div class="row d-flex justify-content-center align-items-center pl-4 pr-4">
    <div class="col-md-6 mb-3">
      <% if @item.photo.attached? %>
        <%= cl_image_tag @item.photo.key, crop: :fill, class: "avatar-large bg-white" %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1521412644187-c49fa049e84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
      <% end %>
      <div class="d-flex justify-content-center">
        <%= link_to("Back to item list", items_path, {class: "btn btn-outline-primary mt-4 mr-3"}) %>
        <%= simple_form_for [@item, @wishlist] do |s|  %>
          <%= s.submit "Add to wishlist", class: "btn btn-outline-primary mt-4 mr-3" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-show pt-3">
        <h3 class="mb-3">
          <span class="underline-blue"><%= @item.name %></span>
        </h3>
        <p>Available from <%= @item.start_date %> to <%= @item.end_date %></p>
        <div class="d-flex justify-content-center">
          <div class="m-2">
            <h5>Sport</h5>
            <%= render 'sports/card', sport_name: @item.sport.name %>
          </div>
          <div class="m-2">
            <h5>|</h5>
          </div>
          <div class="m-2">
            <h5>Transaction type</h5>
            <p><%= @item.transaction_type %></p>
          </div>
        </div>
        <div class="mb-3 pl-3 pr-3">
          <p><%= @item.description %></p>
        </div>
        <% if @item.transaction_type == "Sale" %>
          <h4 class="bg-light rounded-sm mt-2 p-2 mb-3">R$ <%= @item.price %></h4>
          <%= simple_form_for [@item, @order], wrapper: :inline_form do |s|  %>
            <%= s.submit "Add to the cart", class: "btn btn-primary m-3" %>
          <% end %>
        <% end %>

        <% if @item.transaction_type == "Rental" %>
          <h4 class="bg-light rounded-sm mt-2 p-2 mb-3">R$ <span id="rent_price"> <%= @item.price %> </span> per day</h4>
        <% end %>
        <% if @item.transaction_type == "Rental" %>
          <div class="pl-5 pr-5">
            <h5>When to when?</h5>
            <%= simple_form_for [@item, @order], wrapper: :inline_form do |s|  %>
              <%= s.input :extent, input_html: { id: "range_start", class: "bg-white", required: true }, placeholder: "Select dates here" %>
              <%= s.submit "Add to the cart", disabled: true, class: "btn btn-primary m-3 disabled", id: "btn-add-rent" %>
            <% end %>

            <ul class="d-none">
              <% @dates.each do |date| %>
                <li class="dates" data-datefrom="<%= date[:from] %>" data-dateto="<%= date[:to]%>">
                </li>
              <% end %>
            </ul>

            <p id="total">Total: </p>

          </div>
      <% end %>
      <div class="card-show-infos">

        <%= link_to user_path(@item.user), :class => "button" do %>
          <% if @item.user.photo.attached? %>
            <%= cl_image_tag @item.user.photo.key, crop: :fill, class:"card-item-user avatar-bordered"%>
          <% else %>
            <%= image_tag 'user.png', crop: :fill, class: "card-item-user avatar-bordered"%>
          <% end %>
        <% end %>
        <h2>The owner of this item is: <%= link_to @item.user.name, user_path(@item.user) %></h2>
        <%= link_to "Start chat", users_path, class: "btn btn-vizi" %>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <% if current_user == @item.user %>
        <p class="mr-4"><%=link_to '<i class="far fa-edit"></i> Edit'.html_safe, edit_item_path(@item.id)%></p>
        <p class="ml-4"><%= link_to '<i class="far fa-trash-alt"></i> Delete'.html_safe, item_path(@item.id), method: :delete, data: { confirm: 'Are you sure?' }%> </p>
      <% end %>
    </div>

  <% @reviews.last&.tap do |review| %>
    <%= render "review_card", review: review %>
  <% end %>

  <% if current_user != @item.user %>
    <%= form_for([@item, @review]) do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :comment %><br>
        <%= f.text_area :comment %><br>
      </div>
      <div class="fas fa-star">
        <%= f.select :star, 1..5 %><br>
      </div>
      <div class="actions">
        <%= f.submit 'Create Review', :class => "btn btn-vizi" %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
